.budget-calc-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: #0b0e0e;
    background-image: url("../../assets/images/backgrounds/budget-calc-background.png");
    font-family: 'Tomorrow', sans-serif;
}
.budget-calc-h1 {
    margin: 10px auto;
    color: rgb(238, 238, 238);
    font-size: 40px;
    text-transform: uppercase;
    width: 30%;
    border-bottom: 8px double rgb(31, 18, 18);
    border-radius: 15px;
    padding: 5px;
    letter-spacing: 5px;
}

.budget-calc-content-div {
    display: flex;
    width: 100%;
    height: 70%;
}

