.select-sort-div {
    display: flex;
    align-items: center;
    width: 100%;
}

#sort {
    min-width: 70%;
    margin: 10px auto;
    height: 60px;
    background-color: rgba(6, 41, 41, 0.24);
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding:5px 10px;
    font-family: 'Tomorrow', sans-serif;
    text-transform: capitalize;

}

#sort option {
    color: black;
    background-color: rgba(3, 3, 3, 0.24);
    border-radius: 10px;
    font-family: 'Tomorrow', sans-serif;
    text-transform: capitalize;
}



.select-sort-div label {
    font-size: 21px;
}
