.groups-table {
    width: 100%;
}

.groups-table thead tr th {
    border-bottom: 1px dashed white;
    font-size: 24px;
}

.groups-table thead, 
.groups-table tbody{ 
    width: 100%;
}


.group-tr {
    font-size: 26px;
}
.group-tr .expand-td {
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.596);
}

.group-tr .expand-td:hover {
    background-color: rgba(41, 39, 39, 0.596);
    border-color: white;
}

.fa-long-arrow-alt-right {
    font-size: 30px;
    padding:0;
}