.about-me-header {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 100%;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border: none;
    transition: 1s;
}

.about-me-header-active{
    width: 20%;
    transition: 1.5s;
}

.about-me-header-ul-active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: #173442;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.about-me-header-ul {
    display: none;
}

.about-me-header-ul-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 20px;
    color: rgb(124, 207, 214);
}

 .about-me-header-ul-li:hover {
    color: white;
    background-color: rgba(11, 35, 54, 0.664);
    border-radius: 15px;
    font-size: 25px;
} 

.arrow-div {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #081f2a;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    border: none;
}
.fa-arrow-alt-circle-right {
    margin:0 auto;
    width: 100%;
    color:rgba(255, 248, 248, 0.555);
    align-self: center;
    font-size: 100px;
}