.projects-main-div {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.projects-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.visit-btn {
    width: 300px;
    height: 60px;
    font-size: 28px;
    margin: 20px 20px;
    margin-top: 50px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.visit-btn:hover {
    background-color: #103546;
    font-size: 30px;
    width: 305px;
}

.project-info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    height:  60%;
    width: 50%;
}

.project-info-div:hover {
    border: 1px dotted rgba(245, 245, 245, 0.335);
    background-color: rgba(51, 38, 47, 0.568);
}

.project-info-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    font-size: 45px;
}

.project-info-p {
    font-size: 28px;
    text-align: left;
    padding: 30px;
    width: 100%;
    height: 70%;
}

.project-info-content {
    height: 70%;
    width: 80%;
}