.about-me-main-div {
    height: 100%;
    width: 100;
    display: flex;
    flex-direction: row;
}

.about-me-main-div .about-me-div {
    background-color: #1f131b;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    min-height: 100%;
    display: flex;
    color: white;
    justify-content: center;
}
