.personal-main-info-div {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.personal-info-div {
    width: 100%;
    min-height: 90%;
}

.info-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.info-div:hover {
    border: 1px dotted rgba(245, 245, 245, 0.335);
    background-color: rgba(51, 38, 47, 0.568);
}

.value-h2,
.key-h3{
    display: flex;
    margin: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.key-h3 {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    width: 50%;
    padding-left: 10%;
}
.value-h2 {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
    padding-right: 10%;

}
