.answer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.answer p {
    margin-top: 5px;
}

.correct {
    color: yellow;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    width: 20%;
}

.incorrect {
    color: red;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    width: 20%;
}