.fight-list {
    margin: auto;
    text-align: center;
    background-image: url('../../assets/images/fight-list-wall.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: 'Sen', sans-serif;
    height: 100%;
}

.title-h1 {
    padding: 25px;
}

.correct, 
.incorrect {
    margin-top: 10px;
}



.question-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.score-p {
    width: 70px;
    height: 70px;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    font-size: 40px;
    border: 5px solid rgba(8, 5, 37, 0.596);
    border-radius: 13px;
}

.score-time-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}



.start-btn {
    width: 250px;
    background-color: rgb(139, 125, 125);
    color: white;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#d,
.start-btn:hover {

    color: rgba(49, 9, 9, 0.774);
    width: 350px;
    background-color: rgb(81, 148, 224);
}
.disabled-start {
    color: rgba(75, 72, 72, 0.657);
    pointer-events: none;
}

.ok-div {
    display: flex;
    margin: auto;
    font-size: 15px;
}
.ok-button{
    margin: 0 auto;
    font-size: 35px;
    margin-top: 20px;
    width: 300px;
    background-color: rgb(99, 99, 192);
    border: none;
    border-radius: 15px;
    height: 70px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
}

