.fight-list {
    margin: 0 auto;
    text-align: center;
    background-image: url('../../assets/images/fight-list-wall.jpg');
    height: 95vh;
    background-position: center;
    background-size: cover;
}

.title-h1 {
    padding: 25px;
}

.correct, 
.incorrect {
    margin-top: 10px;
}

.correct {
    color: rgb(214, 250, 255);
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 20%;
    background-color: rgb(54, 47, 47);
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
}
.incorrect {
    color: rgb(58, 190, 46);
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 20%;
    background-color: rgb(136, 13, 13);
    border-radius: 10px;
    margin-left: 15px;
    padding: 10px;
}

.all-answers-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.question-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
}

.next-button {
    background-color: inherit;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 50px;
    position: relative;
    right: 650px;
    color: black;
}

.fas .fa-forward {
    color: black;
}

.score-h1 {
    width: 70px;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    font-size: 40px;
    border: 5px solid rgba(8, 5, 37, 0.596);
    border-radius: 13px;
}

.score-div {
    display: flex;
    margin: auto;
    justify-content: center;
}

.score-div div {
    margin-left: 50px;
    margin-right: 60px;
}