.guess-it-main {
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-image: url('../../assets/images/backgrounds/guess-it-background.png');
}

.guess-it-title {
    margin: 20px auto;
    color: white;
    font-size: 50px;
}
.categories-div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

.category-div {
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 40px;
    margin: 50px 10px;
    padding: 60px;
    border: 2px solid black;
    border-radius: 820px;
    cursor: pointer;
    height: 225px;
}
.category-div:hover {
    background-color: rgba(245, 241, 241, 0.157);
    color: rgb(20, 13, 13);
}

.guess-it-title-div {
    display: flex;
}

.guess-it-go-back-btn {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-right: -100px;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
}

.guess-it-go-back-btn:hover {
    background-color: rgba(245, 241, 241, 0.157);
    color: rgb(20, 13, 13);
}

.guess-it-score {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}