.question {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(26, 21, 21, 0.527);
    border-radius: 15px;
    height: 230px;
    padding: 80px;
    width: 500px;
    margin: auto;
    
}

.question p {
    font-size: 44px;
    font-weight: bold 700;
    font-family: 'Teko', sans-serif;
}