.question {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(26, 21, 21, 0.527);
    border-radius: 15px;
    height: 230px;
    padding: 80px;
    width: 50%;
    margin: auto;
}

.question p {
    font-size: 44px;
    font-weight: bold 700;
    font-family: 'Teko', sans-serif;
}

.remaining-ans {
    display: flex;
    padding: 2px;
    width: 100px;
    position: static;
    font-size: 30px;
    font-weight: bold;
}