.table-tools-div {
    width: 5%;
    border: 2px solid rgb(17, 12, 12);
    border-radius: 10px;
    min-height: 100%;
    color: whitesmoke;
    background-color: #3b4141;
    background-image: url("../../../assets/images/backgrounds/budget-calc-background.png");
    cursor: pointer;
    transition: 3s;
}

.table-tools-div-active {
    width: 30%;
    transition: 1.5s;

}

.table-tools-div h1 {
    width: 20%;
    margin: 10px auto;
    border-bottom: 8px solid black;
    transition: 1s;

}
.dlt-selected-btn {
    min-width: 70%;
    height: 60px;
    cursor: pointer;
    font-size:20px;
    text-transform: uppercase;
    background-color: rgba(6, 41, 41, 0.24);
    font-weight: 700;
    border: 2px solid black;
    border-radius: 15px;
    color: whitesmoke;
    padding: 0 50px;
    font-family: 'Tomorrow', sans-serif;
}

.dlt-selected-btn:hover {
    background-color: rgba(22, 47, 47, 0.692);
}

.table-tools-content {
    display: flex;
    min-width: 80%;
    height: 100%;
    margin: 0 20px;
    flex-direction: column;
    align-items: flex-start;
}

.price-p {
    margin: 10px;
    font-size: 28px;
    border-bottom: 5px double black;
    border-radius: 20px;
    padding: 15px;
}

.price-p span {
    font-size: 30px;
    font-weight: bold;
}

.filter-div {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px auto;
}

#sort {
    min-width: 85%;
    background-color: rgba(6, 41, 41, 0.24);
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: 'Tomorrow', sans-serif;
}

#sort option {
    color: black;
    background-color: rgba(3, 3, 3, 0.24);
    border-radius: 10px;
    font-family: 'Tomorrow', sans-serif;
}

.before-hover-div {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fa-tools {
    font-size: 60px;
    margin: 0 auto;
    color: rgb(245, 237, 237);
}