.education-courses-main-div {
    min-height: 100%;
    width: 100%;
    color: white;
}

.education-courses-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.education-courses-div div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 100%;
}
.education-courses-div h1{
    font-size: 60px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    border-bottom: 1px dotted grey;
}
.education-courses-div h3{
    font-size: 30px;
    margin-bottom: 20px;
    

}
.education-courses-div .education-div p{
    font-size: 25px;
    margin: 0 auto;
    width: 40%;
    border-bottom: 1px dotted grey;
}
.education-courses-div h4{
    width: 70%;
    font-size: 25px;
    margin: 50px auto;
}

.courses-ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    width: 100%;
    margin: 0 auto;
}

.courses-ul li {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    font-size: 30px;
    margin-left: 5%;
}

.courses-p {
    font-size: 35px;
    width: 80%;
    margin: 20px auto;
    margin-bottom: 70px;
}

.education-div:hover,
.courses-div:hover {
    border: 1px dotted rgba(245, 245, 245, 0.335);
    background-color: rgba(51, 38, 47, 0.568);
}