.input {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.inputLabel {
    font-size: 24px;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.answer {
    width: 350px;
    border: 3px solid black;
    border-radius: 5px;  
    height: 40px;
    margin: 0 20px;
    background-color: transparent;
}

.disabled-input {
    border: 3px solid grey;
}

.next-button {
    display: flex;
    font-family: inherit;
    background-color: inherit;
    border: 3px solid rgb(27, 26, 26);
    border-radius: 4px;
    width: 200px;
    height: 40px;
    font-size:24px;
    color: black;
    justify-content: center;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    
}

.next-button:hover {
    width: 205px;
    height: 52px;
    font-size: 22px;
}


.disabled-link {
    color: grey;
    border: 3px solid grey;
    pointer-events: none;
}


#answer {
    font-size: 18px;
    font-weight: 600;
}

.starter-info { 
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    max-width: 200px;
    padding: 15px;
    font-size: 20px;
}

.info-span {
    margin: 0 auto;
    font-size: 18px;
    padding: 0 auto;
    margin-top: 2px;
}

.fas {
    margin-right:13px;
}

.ok-button {
    margin-top: 5px;
}