.all-answers-div {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px;
    min-width: 100%;
    height: 100%;
}

.cor-answers-div,
.incor-answers-div {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-grow: 100;
    overflow: hidden;
    min-width: 50%;
}
.cor-answers-div {
    justify-content: flex-end;
}

.answers  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
}
.correct {
    color: rgb(214, 250, 255); 
    background-color: rgb(54, 47, 47);
    margin-right: 30px;
    width: 30%;
}
.incorrect {
    color: rgb(150, 250, 20);
    background-color: rgb(136, 13, 13);
    margin-left: 30px;
    width: 30%;
}

.blink-word {
    color: rgb(143, 106, 19);
    font-size: 18px;
    border: 1px solid springgreen;
}