.card-draw  {
    background-image: url('../../assets/images/card-draw-background.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    height:100%;
    position: absolute;
    width: 100%;
}

.card{ 
    max-height: 100%;
}

.card-draw-h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 45px;
    padding: 45px;
}

.back-card {
    height: 450px;
    width: 320px;
}

.draw-btn {
    color: rgb(243, 214, 214);
    background-color: inherit;
    height: 60px;
    width: 400px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
    border: 10px double rgb(243, 214, 214);
}

.draw-btn:hover {
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(27, 23, 25, 0.548);
}

.deck-cards {
    margin-bottom: 30px;
    margin-left: 250px;
    height: 70px;
    width: 900px;
}

.deck-cards-follow{
    position: absolute;
    left: 100px;
}