.game-over-main-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(156, 148, 148);
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.59);
}

.game-over-div {
    width: 440px;
    height: 265px;
    background-color:rgba(0, 0, 0, 0.664);
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.game-over-div h1{
    margin-bottom: 20px;
}
.game-over-div p{
    margin-bottom: 10px;
}

.game-over-btn {
    margin: auto;
    margin-top: 35px;
    width: 250px;
    height: 35px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 3px solid rgba(235, 247, 248, 0.65);
    border-radius: 8px;
    cursor: pointer;
}

.score-span {
    font-weight: bold;
    font-size:22px;
}