.ng-btn {
    height: 45px;
    min-width:58%;
    margin:10px auto;
    font-size: 22px;
    font-weight: 600;
    background-color: rgba(12, 73, 73, 0.24);
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    color:whitesmoke;
    font-family: 'Tomorrow', sans-serif;
}

.table-tools-btn {
    min-width: 70%;
    margin: 10px auto;
    height: 60px;
    cursor: pointer;
    font-size:20px;
    text-transform: uppercase;
    background-color: rgba(6, 41, 41, 0.24);
    font-weight: 700;
    border: 2px solid black;
    border-radius: 15px;
    color: whitesmoke;
    padding: 0 20px;
    font-family: 'Tomorrow', sans-serif;

}

.ng-close-btn {
    background: rgba(2, 15, 15, 0.397);
    min-width: 35%;
    margin-right: 3px;
    font-size: 20px;
}

.add-type-btn {
    min-width: 30%;
    height: 35px;
    margin-left: 2px;
    font-size: 14px;
}
.ng-btn:hover,
.table-tools-btn:hover {
    background-color: rgba(81, 163, 163, 0.24);
    border-color: white;
}

.budg-edit-btn {
    width: 70px;
    height: 40px;
    font-size:20px;
    text-transform: uppercase;
    background-color: rgba(6, 41, 41, 0.24);
    font-weight: 700;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.budg-edit-btn:hover {
    border-color: white;
}
.budg-edit-btn-disabled {
    pointer-events: none;
    color: grey;
    border-color: grey;
}

.budg-dlt-btn {
    width: 100px;
}