.main-header-div {
    position: relative;
    height: 5%;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.main-header-div nav {
    height: 100%;
}

.main-header-div ul {
    height: 100%;
    display: flex;
   background-image: url('../../assets/images/header.jpg');
   background-position: center;
}

.main-header-div ul li{
    list-style: none;
    color:white;
    font-size: 20px;
    margin: auto;
}
.main-header-div ul a{
    text-decoration: none;
    color:white;
    margin: auto;
    font-size: 20px;
}

.hovered-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    border: 2px solid rgb(202, 184, 184);
    color: white;
    margin: 0 auto;
    width: 100%;
}
.hovered-div ul {
    display: flex;
    flex-direction: column;
    padding:15px;
    color: white;
}
.hovered-div ul li {
    color: white;
    border-bottom: 1px solid white;
}
