.budget-calc-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Tomorrow', sans-serif;
}

.bcalc-smaller-inputs div,
.bcalc-bigger-inputs div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    font-family: 'Tomorrow', sans-serif;
    font-size: 20px;
}

.bcalc-bigger-inputs {
    display: flex;
    width: 55%;
}

.bcalc-smaller-inputs {
    display: flex;
    width: 25%;
}

.bcalc-bigger-inputs div input,
.bcalc-smaller-inputs div input{
    border: 5px double black;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    outline: transparent;
    color:whitesmoke;
    text-align:center;
    font-size: 20px;
}

.bcalc-smaller-inputs div input {
    width: 50%;
}

.bcalc-bigger-inputs div input {
    text-transform: capitalize;
    width: 95%;
}

.bcalc-smaller-inputs div label,
.bcalc-bigger-inputs div label {
    height: 35px;
    width: 100px;
    font-size: 24px;
    text-transform: capitalize;
    color: whitesmoke;
}

.budget-calc-quantity-div #quantity-label{
    width: 150px;
}

.budget-calc-submit-btn {
    height: 45px;
    width: 10%;
    margin:0 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(6, 41, 41, 0.24);
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    color:whitesmoke;
}

.budget-calc-submit-btn:hover {
    background-color: rgba(38, 80, 80, 0.24);
    border-color: white;
}

::placeholder {
    font-size: 20px;
    text-transform: capitalize;
}