.games-div {
    width: 37.6%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
    border-right:1px solid white;
}

.games-div .div1 img {
    background-size: contain;
    width: 70%;
    border-radius: 10px;
    height: 90px;
    background-repeat: no-repeat;
    margin: 5px auto;
}
.games-div .div1 h1 {
    font-size: 20px;
}
.games-div .div1 h2 {
    font-size: 15px;
}

.games-div .div1 {
    min-height: 50%;
}

.games-div .div2,
.games-div .div3{
    min-height: 50%;
      color: white;
  }

  .games-div .div3 h1{
      font-size: 25px;
    margin: 0 auto;
  }

  .games-div .div1 h1,
    .games-div .div2 h1,
    .games-div .div3 h1{
      margin: 5px auto;
      color: rgb(158, 107, 107);
  }

  .games-div .div1 h2{
      margin-bottom: 2% auto;
      color: rgb(255, 255, 255);
      font-size: 20px;
  }
  .games-div .div1 h1:hover,
  .games-div .div2 h1:hover,
  .games-div .div3 h1:hover {
      color: rgb(233, 223, 223);
  }

  .games-title-h1 {
    color: white;
    font-size: 30px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.678);
    width: 40%;
    margin: 0 auto;
    min-height: 10%;
}